<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <script>
        function add() {
            location.href = "/board/add";
        }
        
        function detail(_no) {
            location.href = "/board/detail?_no=" + _no;
        }

        function signup(){
            location.href = "/login/signup";
        }

        function login(){
            location.href = "/login";
        }
        function logout(){
            location.href = "/login/logout";
        }
    </script>
</head>
<body>
    <%if(user == "undefined" || user == "" || user == null){%>
        <button onclick="login()">로그인</button>
        <button onclick="signup()">회원가입</button>
    <%} else {%>
        <p>
            <%=user %> 님 반갑습니다.
            <button onclick="logout()">로그아웃</button>
        </p>
    <%}%>
    <h1>게시판</h1>
    <table border="1">
        <tr>
            <th>글  번호</th>
            <th>글  제목</th>
            <th>작 성 자</th>
        </tr>
        <%if(list.length == 0) {%>
        <tr>
            <td colspan="3">
                게시글이 존재하지 않습니다.
            </td>    
        </tr>    
        <%} else {%>
            <%list.forEach(function(board){%>
                <tr onclick="detail('<%=board.No%>')">
                    <td><%=board.No%></td>
                    <td><%=board.Title%></td>
                    <td><%=board.Writer%></td>
                </tr>
            <%})%>
        <%} %>    
    </table>
    <br>
    <button onclick="add()">글 작성</button>
</body>
</html>